body{
margin: 0;
padding: 0;
background-image: linear-gradient(black, rgb(224, 155, 224));
}
header{
background-color:black;
color: white; 
text-align: center;
padding: 1rem 0;
position: relative;
}
.my-pic{
width: 100px;
height: 100px;
border-radius: 75%;
object-fit: cover; position: absolute;
/*top: 55px; */
left: 85px;
}
nav{
background-color: grey;
color: black; text-align: center;
}
 nav ul{
list-style-type: none;
padding: 0;
 }
nav ul li{
display: inline;
margin: 0 20px;
}
nav ul li a{
color:white;
}
 .section{
background-color:white;
padding: 1rem;
margin: 1rem; border-radius: 20px;
box-shadow: 5px 5px 5px silver;
 }